.delbtn{
 margin-left: 2rem;
 width: 10%;
 padding: 7px;
 border-color: red;
 color: red;
 border-radius: 5px;
}

.edtbtn{
  margin-left: 2rem;
 width: 10%;
 padding: 7px;
 border-color: green;
 border-radius: 5px;
}
