.licensebody{
    text-align: center;
    margin: 15px;
    border: 5px solid rgb(32, 180, 54);
    width: 210mm; /* Ukubwa wa A4 kwenye print */
    height: 297mm; /* Ukubwa wa A4 kwenye print */
    padding: 20mm; /* Padding kwa ajili ya kuweka nafasi */
    box-sizing: border-box;
    
}


  